.root {
    -fx-background-color: #245A77;
}

.text-field, .password-field {
    -fx-background-radius: 5;
    -fx-border-color: #ccc;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #F8D966;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

